<div class="nav-menu clearfix">
    <div class="logo">
        <div class="client-name">
            a<span>Q</span>o<span>S</span>ta
        </div>
        <div class="client-type">
            Dashboard
        </div>
        <div class="client-release">
            <span>&beta;</span>
        </div>
    </div>
</div>

<span class="fill-remaining-space"></span>

<div class="nav-config">
    <button mat-button (click)="logout()" class="bottom-hover primary-contrast">
        Exit
    </button>
</div>
